<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      mlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FINNK</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="img/logo finnk.jpg">
         <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    
         
   
    </head>
    <body>

         <header th:fragment="header">
            <nav class=" nav navbar navbar-expand-lg bg-body-tertiary contenedor  ">
                <div class=" container-fluid nav  ">
                    <a class="logo  p-4" th:href="@{/}">[[#{aplicacion.titulo}]]</a>
                    <div class=" menu-toggle">
                        <i class="fas fa-bars"></i>
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="nav  " id="navbarNavDropdown">
                        <ul class=" nav-list m-2">
                            <li class="nav-item">                     
                                <a th:href="@{/}" class="ruta-TG  ">[[#{index.inicio}]]</a>
                            </li>
                             <li class="nav-item">
                                <a th:href="@{/finnk/Productos}" class="ruta-TG active">[[#{index.productos}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/New arrivals}" class="ruta-TG">[[#{index.novedades}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/informacion}" class="ruta-TG">[[#{index.informacion}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/blogs}" class="ruta-TG  ">[[#{index.blog}]]</a>
                            </li>  
                             <li  class="nav-item">
                                <a th:href="@{/reportes/principal}" class="ruta-TG  ">[[#{index.reportes}]]</a>
                            </li> 
                            <li class="nav-item dropdown"  >
                                <a class="ruta-TG dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                   [[#{index.drop}]]
                                </a>
                                <ul class="dropdown-menu w-40 p-3 " >
                                    <li class="dropdown-header" >[[#{index.dropheader}]]</li>
                                    <li ><a class="dropdown-item " th:href="@{/informacion/listado}">[[#{index.listadoC}]]</a></li>
                                    <li ><a class="dropdown-item " th:href="@{/productos/Inventario}">[[#{index.catalogoR}]]</a></li>                               
                                    <li ><a class="dropdown-item"  th:href="@{/proveedor/Inventario}">[[#{index.listadoP}]] </a></li>     
                                    <li ><a class="dropdown-item"  th:href="@{/empleado/InventarioB}">[[#{index.listadoE}]] </a></li>
                                      <li ><a class="dropdown-item"  th:href="@{/tienda/listado}">[[#{index.listadoT}]] </a></li>
                                      <li ><a class="dropdown-item"  th:href="@{/Reclamos/listado}">[[#{index.listadoW}]]</a></li>
                                </ul>
                            </li>                           
                             <ul class ="navbar-nav" sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="ruta-TG" th:href="@{/login}">[[#{login.menu}]]</a>
                            </li>                            
                        </ul>
                        <ul class="navbar-nav"sec:authorize="isAuthenticated()">
                            <li class=" nav-item text-white ruta-TG  "> 
                                <i class="fas fa-user"></i> <span sec:authentication="name">Bob</span>
                            </li>
                            <li class="nav-item my-auto  ">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn  text-white  ">[[#{login.salida}]]</button>
                                </form>
                            </li>                            
                        </ul>
                            <li class="nav-item">
                                <div id="resultsBlock">
                                </div>
                            </li>
                      
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

      
    

        <section class="heroo  " id="heroo">
            <div class="contenedor txt p-5">
                <h1 class="h2-productos ">
                    <span>[[#{inicial.r}]]</span>[[#{inicio.tituloRo}]]
                </h1> 
                <div class="he-des ">
                    <h5 class="titulo-inde h2-productos">[[#{index.novedades}]]</h5>

                </div>
            </div>
        </section>
 

            <div class="contenedor1">     
                <div th:if="${productos != null and !productos.empty}">
                    <div class="row">                   
                        <div class="col-md-12 p-4">                
                            <div class=" galeria card" th:each="producto : ${productos}">                  
                                <div class=" imagenes card-body ">                       
                                    <img th:src="${producto.imagen}" width="100px"/>                       
                                    <h5 class="pie-imagen card-title p-4">[[${producto.nombre}]]</h5>                    
                                    <h5 class=" pie-imagen card-subtitle mb-2 text-muted text-end">                            
                                        [[${producto.precio}]]</h5>                       
                                                                           
                                </div>   
                                <form>
                                    <input type="hidden" name="texto" th:value="${producto.idProducto}"/>
                                    <input type="hidden" name="texto" th:value="${producto.existencias}"/>
                                    <button class="card-link botones-index botones" id="addCar" 
                                            name="addCar" onclick="addCard(this.form)" 
                                            type="button">
                                        <i class="fas fa-cart-plus"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div th:if="${productos == null or productos.empty}">
                    [[#{carro.no_mostrar}]]
                </div>
            </div>  
                 
    
        
                 
                
           
        
      
        <footer th:fragment="footer" class="pie">
            <div class="footer-cont">

                <ul class="ss-ico p-2  res-info">

                    [[#{inicio.subtitulo}]]&COPY;

                    <li>
                        <a class="p-2 langueCat" th:href="@{/(lang=es)}">[[#{text.columna6}]]</a>
                    </li>
                    <li >
                        <a class="p-1 langueCat" th:href="@{/(lang=en)}">[[#{text.columna7}]]</a>
                    </li>
                </ul>
            </div>

        </footer>
    
 
    <script>

        const selectElement = function(element) {
            return document.querySelector(element);
        }


        let menuToggle = selectElement('.menu-toggle');
        let body = selectElement('body');

        menuToggle.addEventListener('click', function(){
            body.classList.toggle('open');
        })
          function addCard(formulario){             
              var valor=formulario.elements[0].value;                
              var url = '/carrito/agregar';
              url = url + '/' +valor;
              $("#resultsBlock").load(url);         
            }
    </script>
    
    </body>
</html>
