<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      mlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head th:fragment="head">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FINNK</title>
        <link rel="icon" href="img/logo finnk.jpg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>  
    </head>
    <body>
          <header th:fragment="header">
            <nav class=" nav navbar navbar-expand-lg bg-body-tertiary contenedor  ">
                <div class=" container-fluid nav  ">
                    <a class="logo  p-4" th:href="@{/}">[[#{aplicacion.titulo}]]</a>
                    <div class=" menu-toggle">
                        <i class="fas fa-bars"></i>
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="nav  " id="navbarNavDropdown">
                        <ul class=" nav-list m-2">
                            <li class="nav-item">                     
                                <a th:href="@{/}" class="ruta-TG  ">[[#{index.inicio}]]</a>
                            </li>
                             <li class="nav-item">
                                <a th:href="@{/finnk/Productos}" class="ruta-TG">[[#{index.productos}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/New arrivals}" class="ruta-TG">[[#{index.novedades}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/informacion}" class="ruta-TG">[[#{index.informacion}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/blogs}" class="ruta-TG  ">[[#{index.blog}]]</a>
                            </li>  
                            <li  class="nav-item">
                                <a th:href="@{/reportes/principal}" class="ruta-TG  ">[[#{index.reportes}]]</a>
                            </li> 
                            <li class="nav-item dropdown active"  >
                                <a class="ruta-TG dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                   [[#{index.drop}]]
                                </a>
                                <ul class="dropdown-menu w-40 p-3 " >
                                    <li class="dropdown-header" >[[#{index.dropheader}]]</li>
                                    <li ><a class="dropdown-item " th:href="@{/informacion/listado}">[[#{index.listadoC}]]</a></li>
                                    <li ><a class="dropdown-item " th:href="@{/productos/Inventario}">[[#{index.catalogoR}]]</a></li>                               
                                    <li ><a class="dropdown-item"  th:href="@{/proveedor/Inventario}">[[#{index.listadoP}]] </a></li>     
                                    <li ><a class="dropdown-item"  th:href="@{/empleado/InventarioB}">[[#{index.listadoE}]] </a></li>
                                      <li ><a class="dropdown-item"  th:href="@{/tienda/listado}">[[#{index.listadoT}]] </a></li>
                                      <li ><a class="dropdown-item"  th:href="@{/Reclamos/listado}">[[#{index.listadoW}]]</a></li>
                                </ul>
                            </li>                           
                             <ul class ="navbar-nav" sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="ruta-TG" th:href="@{/login}">[[#{login.menu}]]</a>
                            </li>                            
                        </ul>
                        <ul class="navbar-nav"sec:authorize="isAuthenticated()">
                            <li class=" nav-item text-white ruta-TG  "> 
                                <i class="fas fa-user"></i> <span sec:authentication="name">Bob</span>
                            </li>
                            <li class="nav-item my-auto  ">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn  text-white  ">[[#{login.salida}]]</button>
                                </form>
                            </li>                            
                        </ul>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container" >
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarCliente">
                            <i class="fas fa-plus"></i> [[#{proveedor.agregar}]] 
                        </button>
                    </div>
                </div>
            </div>
        </section>
         <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
         <section th:fragment="agregarProveedor">
            <div id="agregarCliente" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md ">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{proveedor.agregar}]] </h5>
                            <button type="button" 
                                    class="btn-close" 
                                    data-bs-dismiss="modal" 
                                    aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/proveedor/guardar}" th:object="${proveedor}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="mb-3">
                                   
                                    <label for="nombre">[[#{proveedor.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="apellidos">[[#{proveedor.apellidos}]]</label>
                                    <input type="text" class="form-control" name="apellidos">
                              
                                </div>
                                <div class="mb-3">
                                    <label for="correo">[[#{proveedor.apellidos}]]</label>
                                    <input type="correo" class="form-control" name="correo" required="true">
                                </div>
                             
                                <div class="mb-3">
                                    <label for="telefono">[[#{proveedor.telefono}]]</label>
                                    <input type="telefono" class="form-control" name="telefono">
                                </div>
                                 <div class="mb-3">
                                    <label for="marca">[[#{proveedor.marca}]]</label>
                                    <input type="text" class="form-control" name="marca">
                                </div>
                                   <div class="mb-3">
                                    <label for="nacionalidad">[[#{proveedor.nacionalidad}]]</label>
                                    <input type="text" class="form-control" name="nacionalidad">
                                </div>
                                   <div class="mb-3">
                                    <label for="estado">[[#{proveedor.estado}]]</label>
                                    <input type="text" class="form-control" name="estado">
                                </div>
                                 
                            </div>
                            <div class="modal-footer" >
                                <button class="btn btn-primary" type="submit">[[#{accion.guardar}]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informacion de la entidad cliente -->
        <section th:fragment="ListadoProveedores" id="productos">
            <div class="container m-1 ">
                <div class="row  ">
                    <div class="col-md-12">
                        <div class="card-md-9 m-4 ">
                            <div class="card-header ">
                               
                                <h4>[[#{proveedor.titulo}]]</h4></div>
                                 <section th:replace="~{proveedor/plantilla :: botonesAgregar}"/>
                            <div  th:if="${proveedors != null and !proveedors.empty}">
                                <table class="table table-striped table-hover ">
                                    <thead class="table-dark ">
                                        <tr><th>[[#{proveedor.contador}]]</th>   
                                            <th>[[#{proveedor.nombre}]]</th> 
                                            <th>[[#{proveedor.apellidos}]]</th>                                                                           
                                            <th>[[#{proveedor.correo}]]</th>
                                            <th>[[#{proveedor.telefono}]]</th>
                                            <th>[[#{proveedor.marca}]]</th>
                                            <th>[[#{proveedor.nacionalidad}]]</th>
                                            <th>[[#{proveedor.estado}]]</th>
                                          
                                            
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr  th:each="proveedor, contador : ${proveedors}">
                                            <td>[[${contador.count}]]</td> 
                                            <td>[[${proveedor.nombre}]]</td> 
                                            <td>[[${proveedor.apellidos}]]</td>                                              
                                            <td>[[${proveedor.correo}]]</td>
                                            <td>[[${proveedor.telefono}]]</td>     
                                            <td>[[${proveedor.marca}]]</td>
                                            <td>[[${proveedor.nacionalidad}]]</td>
                                            <td>[[${proveedor.estado}]]</td>
                                           
                                        
                                            <td ><a th:href="@{/proveedor/eliminar/}+${proveedor.idProveedor}"
                                                   class="btn btn-danger ">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/proveedor/modifica/}+${proveedor.idProveedor}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.modificar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${proveedors == null or proveedors.empty}">
                                <span>[[#{inventario.total}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 p-5 ">
                        <div class="card text-center bg-info text-white mb-3 ">
                            <div class="card-body">
                                <h3>[[#{proveedor.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalProveedors}]]</h4>
                            </div>                             
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarProveedor">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/proveedor/editar}" th:object="${proveedor}"
                          class="was-validated">
                        <input type="hidden" name="idProveedor" th:field="*{idProveedor}"/>
                        
                        <section th:replace="~{proveedor/plantilla :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                               <div class="mb-3">
                                                    <label for="nombre">[[#{proveedor.nombre}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombre" th:field="*{nombre}">
                                                </div>
                                                  <div class="mb-3">
                                                    <label for="apellidos">[[#{proveedor.apellidos}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="apellidos" th:field="*{apellidos}">
                                                </div>
                                                  <div class="mb-3">
                                                    <label for="correo">[[#{proveedor.correo}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="correo" th:field="*{correo}">
                                                </div>
                                                  <div class="mb-3">
                                                    <label for="telefono">[[#{proveedor.telefono}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="telefono" th:field="*{telefono}">
                                                </div>
                                                  <div class="mb-3">
                                                    <label for="marca">[[#{proveedor.marca}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="marca" th:field="*{marca}">
                                                </div>
                                                  <div class="mb-3">
                                                    <label for="nacionalidad">[[#{proveedor.nacionalidad}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="nacionalidad" th:field="*{nacionalidad}">
                                                </div>
                                                  <div class="mb-3">
                                                    <label for="estado">[[#{proveedor.estado}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="estado" th:field="*{estado}">
                                                </div>
                                                
                                                 
                                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/proveedor/Inventario}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/proveedor/eliminar/}+${proveedor.idProveedor}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>