<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FINNK</title>
        <link rel="icon" href="img/logo finnk.jpg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body class="box-report-body">      
             <header th:fragment="header">
            <nav class=" nav navbar navbar-expand-lg bg-body-tertiary contenedor  ">
                <div class=" container-fluid nav  ">
                    <a class="logo  p-4" th:href="@{/}">[[#{aplicacion.titulo}]]</a>
                    <div class=" menu-toggle">
                        <i class="fas fa-bars"></i>
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="nav  " id="navbarNavDropdown">
                        <ul class=" nav-list m-2">
                            <li class="nav-item">                     
                                <a th:href="@{/}" class="ruta-TG  ">[[#{index.inicio}]]</a>
                            </li>
                             <li class="nav-item">
                                <a th:href="@{/finnk/Productos}" class="ruta-TG">[[#{index.productos}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/New arrivals}" class="ruta-TG">[[#{index.novedades}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/informacion}" class="ruta-TG">[[#{index.informacion}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/blogs}" class="ruta-TG  ">[[#{index.blog}]]</a>
                            </li>  
                          <li class="nav-item">
                                <a th:href="@{/reportes/principal}" class="ruta-TG active ">[[#{index.reportes}]]</a>
                            </li> 
                            <li class="nav-item dropdown"  >
                                <a class="ruta-TG dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                   [[#{index.drop}]]
                                </a>
                                <ul class="dropdown-menu w-40 p-3 " >
                                    <li class="dropdown-header" >[[#{index.dropheader}]]</li>
                                    <li ><a class="dropdown-item " th:href="@{/informacion/listado}">[[#{index.listadoC}]]</a></li>
                                    <li ><a class="dropdown-item " th:href="@{/productos/Inventario}">[[#{index.catalogoR}]]</a></li>                               
                                    <li ><a class="dropdown-item"  th:href="@{/proveedor/Inventario}">[[#{index.listadoP}]] </a></li>     
                                    <li ><a class="dropdown-item"  th:href="@{/empleado/InventarioB}">[[#{index.listadoE}]] </a></li>
                                      <li ><a class="dropdown-item"  th:href="@{/tienda/listado}">[[#{index.listadoT}]] </a></li>
                                      <li ><a class="dropdown-item"  th:href="@{/Reclamos/listado}">[[#{index.listadoW}]]</a></li>
                                </ul>
                            </li>                           
                             <ul class ="navbar-nav" sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="ruta-TG" th:href="@{/login}">[[#{login.menu}]]</a>
                            </li>                            
                        </ul>
                        <ul class="navbar-nav"sec:authorize="isAuthenticated()">
                            <li class=" nav-item text-white ruta-TG  "> 
                                <i class="fas fa-user"></i> <span sec:authentication="name">Bob</span>
                            </li>
                            <li class="nav-item my-auto  ">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn  text-white  ">[[#{login.salida}]]</button>
                                </form>
                            </li>                            
                        </ul>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        

        
        <section class="contenedor-report pad-rig ">
            <div class="row box-report movi"></div>
            <div class="row col-md-4  ">
                <div class="card-report ">

                <h2 class="h2-report">[[#{reportes.inventario}]]</h2>
                <a th:href="@{/reportes/Inventario?tipo=vPdf}" class="btn btn-primary">
                    <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                </a>
                <a th:href="@{/reportes/Inventario?tipo=Pdf}" class="btn btn-success">
                    <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                </a>
                <a th:href="@{/reportes/Inventario?tipo=Xls}" class="btn btn-warning">
                    <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                </a>
                <a th:href="@{/reportes/Inventario?tipo=Csv}" class="btn btn-danger">
                    <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                </a>
                <p class="p-report">[[#{reportes.Iparrafo}]]</p>
                <span class="span-report">[[#{reportes.reporte}]]</span>
                <div class="pic"></div>
                <button class="button-report"></button>
            </div>
            <div class="card-report card2-report">
                <h2 class="h2-report">[[#{reportes.empleado}]]</h2>
                <a th:href="@{/reportes/ListadoEmpleados?tipo=vPdf}" class="btn btn-primary">
                    <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                </a>
                <a th:href="@{/reportes/ListadoEmpleados?tipo=Pdf}" class="btn btn-success">
                    <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                </a>
                <a th:href="@{/reportes/ListadoEmpleados?tipo=Xls}" class="btn btn-warning">
                    <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                </a>
                <a th:href="@{/reportes/ListadoEmpleados?tipo=Csv}" class="btn btn-danger">
                    <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                </a>
                <p class="p-report">[[#{reportes.Eparrafo}]]</p>
                <span class="span-report">[[#{reportes.reporte}]]</span>
                <div class="pic"></div>
                <button class="button-report"></button>
            </div>
            <div class="card-report card2-report ">
                <h2 class="h2-report">[[#{reportes.reclamo}]]</h2>
                <a th:href="@{/reportes/Reclamos?tipo=vPdf}" class="btn btn-primary">
                    <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                </a>
                <a th:href="@{/reportes/Reclamos?tipo=Pdf}" class="btn btn-success">
                    <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                </a>
                <a th:href="@{/reportes/Reclamos?tipo=Xls}" class="btn btn-warning">
                    <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                </a>
                <a th:href="@{/reportes/Reclamos?tipo=Csv}" class="btn btn-danger">
                    <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                </a>
                <p class="p-report">[[#{reportes.Eparrafo}]]</p>
                <span class="span-report">[[#{reportes.reporte}]]</span>
                <div class="pic"></div>
                <button class="button-report"></button>
            </div>
            
            <div class="card-report card2-report ">
                <h2 class="h2-report">[[#{reportes.proveedor}]]</h2>
                <a th:href="@{/reportes/Proveedores?tipo=vPdf}" class="btn btn-primary">
                    <i class='fas fa-eye'></i><i class='fas fa-file-pdf'></i>
                </a>
                <a th:href="@{/reportes/Proveedores?tipo=Pdf}" class="btn btn-success">
                    <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                </a>
                <a th:href="@{/reportes/Proveedores?tipo=Xls}" class="btn btn-warning">
                    <i class='fas fa-download'></i><i class='fas fa-file-excel'></i>
                </a>
                <a th:href="@{/reportes/Proveedores?tipo=Csv}" class="btn btn-danger">
                    <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                </a>
                <p class="p-report">[[#{reportes.Pparrafo}]].</p>
                <span class="span-report">[[#{reportes.reporte}]]</span>
                <div class="pic"></div>
                <button class="button-report"></button>
            </div>
        </div>
        </section>
    </body>
    
</html>