<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      mlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FINNK</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="icon" href="img/logo finnk.jpg">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
          <header th:fragment="header">
            <nav class=" nav navbar navbar-expand-lg bg-body-tertiary contenedor  ">
                <div class=" container-fluid nav  ">
                    <a class="logo  p-4" th:href="@{/}">[[#{aplicacion.titulo}]]</a>
                    <div class=" menu-toggle">
                        <i class="fas fa-bars"></i>
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="nav  " id="navbarNavDropdown">
                        <ul class=" nav-list m-2">
                            <li class="nav-item">                     
                                <a th:href="@{/}" class="ruta-TG  ">[[#{index.inicio}]]</a>
                            </li>
                             <li class="nav-item">
                                <a th:href="@{/finnk/Productos}" class="ruta-TG">[[#{index.productos}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/New arrivals}" class="ruta-TG active">[[#{index.novedades}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/informacion}" class="ruta-TG">[[#{index.informacion}]]</a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finnk/blogs}" class="ruta-TG  ">[[#{index.blog}]]</a>
                            </li>  
                          <li  class="nav-item">
                                <a th:href="@{/reportes/principal}" class="ruta-TG  ">[[#{index.reportes}]]</a>
                            </li> 
                            <li class="nav-item dropdown"  >
                                <a class="ruta-TG dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                   [[#{index.drop}]]
                                </a>
                                <ul class="dropdown-menu w-40 p-3 " >
                                    <li class="dropdown-header" >[[#{index.dropheader}]]</li>
                                    <li ><a class="dropdown-item " th:href="@{/informacion/listado}">[[#{index.listadoC}]]</a></li>
                                    <li ><a class="dropdown-item " th:href="@{/productos/Inventario}">[[#{index.catalogoR}]]</a></li>                               
                                    <li ><a class="dropdown-item"  th:href="@{/proveedor/Inventario}">[[#{index.listadoP}]] </a></li>     
                                    <li ><a class="dropdown-item"  th:href="@{/empleado/InventarioB}">[[#{index.listadoE}]] </a></li>
                                      <li ><a class="dropdown-item"  th:href="@{/tienda/listado}">[[#{index.listadoT}]] </a></li>
                                      <li ><a class="dropdown-item"  th:href="@{/Reclamos/listado}">[[#{index.listadoW}]]</a></li>
                                </ul>
                            </li>                           
                             <ul class ="navbar-nav" sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="ruta-TG" th:href="@{/login}">[[#{login.menu}]]</a>
                            </li>                            
                        </ul>
                        <ul class="navbar-nav"sec:authorize="isAuthenticated()">
                            <li class=" nav-item text-white ruta-TG  "> 
                                <i class="fas fa-user"></i> <span sec:authentication="name">Bob</span>
                            </li>
                            <li class="nav-item my-auto  ">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn  text-white  ">[[#{login.salida}]]</button>
                                </form>
                            </li>                            
                        </ul>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>




    <section class="contenedor">
        <div class="res-des pad-rig4">                                
                    <div class="global">
                        <h2 class="head-3d p-5 ">
                            <span class="drop">[[#{inicial.n}]]</span>[[#{inicio.nove}]]
                        </h2>
                        <h1 class="tit"><u>[[#{inicio.subcolumna23}]]</u></h1>                           
                    </div>
                
                    
                  <div class="carrusel ca">
         
                    <img src="/img/10.jpg" alt=""/>
                    <img src="/img/21.jpg" alt=""/>                   
                    <img src="/img/11.jpg" alt=""/>
                    <img src="/img/8.jpg" alt=""/>
                    <img src="/img/9.jpg" alt=""/>
                    <img src="/img/24.jpg" alt=""/>
         
                  </div>
                  
                </div>
 
    </section>
        
        <section class="porta-novedades bt">
        <div class="contenedor">
            <div class="global">
                <h2 class="h2-sub">
                    <span class="fil">[[#{inicial.titulo}]]</span>[[#{inicio.columna2}]]
                </h2>
                <h1 class="head">[[#{inicio.subcolumna2}]]</h1>
            </div>
        </div>
        </section>

        <div class="container-novedades">
            <div class="card-novedades card0">
                <div class="border-novedades p-5">
                    <h2 class="h2-novedades">[[#{new.jeans}]] </h2>
                    <div class="boton-novedades ">
                       <a class="botones-index bg-dark" th:href="@{/finnk/Productos}">[[#{boton.nuevo}]]</a>
                    </div>
                </div>
            </div>
            <div class="card-novedades card1">
                <div class="border-novedades p-5">
                    <h2 class="h2-novedades">[[#{new.collar}]]</h2>
                    <div class="boton-novedades">
                          <a  class="botones-index bg-dark" th:href="@{/finnk/Productos}">[[#{boton.nuevo}]]</a>
                    </div>
                </div>
            </div>
              <div class="card-novedades card2">
                <div class="border-novedades p-5">
                    <h2 class="h2-novedades">[[#{new.bolso}]]</h2>
                    <div class="boton-novedades">
                          <a  class="botones-index bg-dark" th:href="@{/finnk/Productos}" >[[#{boton.nuevo}]]</a>
                    </div>
                </div>
            </div>
            <div class="card-novedades card3">
                <div class="border-novedades p-5">
                    <h2 class="h2-novedades">[[#{new.reloj}]]</h2>
                    <div class="boton-novedades ">
                          <a class="botones-index bg-dark" th:href="@{/finnk/Productos}" >[[#{boton.nuevo}]]</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        

      <footer th:fragment="footer" class="pie">
            <div class="footer-cont">

                <ul class="ss-ico p-2  res-info">

                    [[#{inicio.subtitulo}]]&COPY;

                    <li>
                        <a class="p-2 langueCat" th:href="@{/(lang=es)}">[[#{text.columna6}]]</a>
                    </li>
                    <li >
                        <a class="p-1 langueCat" th:href="@{/(lang=en)}">[[#{text.columna7}]]</a>
                    </li>
                </ul>
            </div>

        </footer>
    <script>

        const selectElement = function(element) {
            return document.querySelector(element);
        }


        let menuToggle = selectElement('.menu-toggle');
        let body = selectElement('body');

        menuToggle.addEventListener('click', function(){
            body.classList.toggle('open');
        })

    </script>
    </body>
</html>